In [1]:
import pandas as pd

In [2]:
bus_list =["121","191","192","231","307","313","317","329","377","W8","W9","W10"]
folder_names =["5th December 2019","7 December 2019","7 March 2020","13 February 2020"]

In [15]:
for h in range(len(folder_names)):
    root = folder_names[h]
    print(folder_names[h])
    for i in range(len(bus_list)):
        bus_route = str(bus_list[i]) + ".xlsx"
        print(bus_route)
        for j in range(2):
            print("sheet number is " +str(j))
            try:
                data = pd.read_excel(root +"/" + bus_route, sheet_name=j, header=58)
                data_no_totals = data[data.TP != "All"]
                MeAJT = data_no_totals["MeAJT"]
                MADT = data_no_totals["MADT"]
                total_MeAJT = sum(MeAJT)
                total_MADT = sum(MADT)
                print(MeAJT)
                print(total_MeAJT)
                print(MADT)
                print(total_MADT)
            except IndexError:
                ""
            except AttributeError:
                ""

5th December 2019
121.xlsx
sheet number is 0
0    332.437500
1    154.411765
3    266.875000
4    191.235294
6     92.937500
7    105.882353
Name: MeAJT, dtype: float64
1143.7794117647059
0    27.687500
1    56.117647
3    21.375000
4    25.000000
6     5.562500
7     9.823529
Name: MADT, dtype: float64
145.56617647058823
sheet number is 1
0    181.277778
1    108.812500
3    138.055556
4    140.062500
6    151.117647
7    155.875000
Name: MeAJT, dtype: float64
875.2009803921568
0    74.555556
1    17.562500
3    37.777778
4    45.875000
6    28.764706
7    19.062500
Name: MADT, dtype: float64
223.5980392156863
191.xlsx
sheet number is 0
0    187.315789
1    115.000000
3    149.210526
4    115.125000
6    185.210526
7    193.562500
Name: MeAJT, dtype: float64
945.4243421052632
0    17.105263
1    25.687500
3    14.631579
4    29.062500
6    14.315789
7    27.437500
Name: MADT, dtype: float64
128.24013157894737
sheet number is 1
0      75.894737
1      51.588235
3      74.315789
4      65.882353
6      61.684211
7      53.117647
9      67.421053
10     58.235294
12     52.368421
13     51.588235
15     95.473684
16    108.470588
18    112.736842
19     89.823529
21    175.473684
22     85.176471
Name: MeAJT, dtype: float64
1279.2507739938083
0     19.368421
1      9.058824
3     12.736842
4      7.352941
6     10.105263
7      3.176471
9     28.684211
10    22.235294
12    14.842105
13     9.176471
15    14.631579
16     6.176471
18    19.894737
19    11.294118
21    24.684211
22    20.411765
Name: MADT, dtype: float64
233.82972136222907
192.xlsx
sheet number is 0
0    240.500000
1    162.133333
3    167.833333
4    147.928571
6     54.111111
7     53.857143
Name: MeAJT, dtype: float64
826.3634920634921
0    11.833333
1    10.866667
3     6.277778
4     5.000000
6     0.000000
7     0.000000
Name: MADT, dtype: float64
33.97777777777778
sheet number is 1
0    203.368421
1     87.562500
3    290.421053
4    221.750000
6     86.842105
7    104.687500
Name: MeAJT, dtype: float64
994.6315789473684
0     9.000000
1    29.750000
3     3.526316
4    15.437500
6     1.263158
7     2.875000
Name: MADT, dtype: float64
61.85197368421053
231.xlsx
sheet number is 0
0    155.200
1    114.000
3    138.000
4    158.000
6    102.000
7    120.375
Name: MeAJT, dtype: float64
787.575
0    9.000
1    9.750
3    4.800
4    2.875
6    0.000
7    0.000
Name: MADT, dtype: float64
26.425
sheet number is 1
0    215.666667
1    110.000000
3    317.777778
4    244.125000
6     92.111111
7     99.000000
Name: MeAJT, dtype: float64
1078.6805555555554
0    20.888889
1    38.125000
3    15.333333
4    19.750000
6     5.111111
7     2.375000
Name: MADT, dtype: float64
101.58333333333333
307.xlsx
sheet number is 0
0    183.250000
1    115.187500
3    145.500000
4    171.625000
6    149.529412
7    173.875000
Name: MeAJT, dtype: float64
938.9669117647059
0    32.125000
1    21.500000
3    20.250000
4    41.375000
6    20.352941
7    14.937500
Name: MADT, dtype: float64
150.54044117647058
sheet number is 1
0    283.941176
1    157.875000
3    287.125000
4    179.875000
6    102.785714
7     92.062500
Name: MeAJT, dtype: float64
1103.6643907563025
0    39.764706
1    49.687500
3    10.187500
4    23.500000
6     1.285714
7     5.687500
Name: MADT, dtype: float64
130.11292016806723
313.xlsx
sheet number is 0
0    735.100000
1    309.444444
3    394.900000
4    461.555556
6    195.300000
7    282.111111
Name: MeAJT, dtype: float64
2378.4111111111115
0    34.900000
1    95.666667
3    20.600000
4    44.000000
6     2.600000
7    11.000000
Name: MADT, dtype: float64
208.76666666666665
sheet number is 1
0    212.555556
1    124.400000
3    141.375000
4    144.900000
6    153.250000
7    165.400000
Name: MeAJT, dtype: float64
941.8805555555555
0    27.555556
1    15.400000
3    28.500000
4    23.100000
6    12.375000
7    14.700000
Name: MADT, dtype: float64
121.63055555555555
317.xlsx
sheet number is 0
0    179.00
1    118.60
3    146.75
4    196.60
6     55.50
7     55.20
Name: MeAJT, dtype: float64
751.6500000000001
0    13.25
1     8.20
3     5.75
4     7.60
6     0.00
7     0.00
Name: MADT, dtype: float64
34.8
sheet number is 1
0     76.000000
1    109.000000
3    279.200000
4    212.285714
6    103.800000
7    107.500000
Name: MeAJT, dtype: float64
887.7857142857142
0    22.800000
1    42.142857
3    10.600000
4    28.285714
6     7.000000
7     1.000000
Name: MADT, dtype: float64
111.82857142857142
329.xlsx
sheet number is 0
0    83.65
1    95.12
3    56.45
4    59.32
Name: MeAJT, dtype: float64
294.54
0    15.80
1    13.56
3     0.00
4     0.00
Name: MADT, dtype: float64
29.36
sheet number is 1
0    127.826087
1     56.583333
3    474.869565
4    293.958333
6     79.782609
7     69.208333
Name: MeAJT, dtype: float64
1102.2282608695652
0    16.130435
1    36.583333
3     0.391304
4     0.000000
6    24.304348
7    28.416667
Name: MADT, dtype: float64
105.82608695652175
377.xlsx
sheet number is 0
0    217.000000
1    132.666667
3    532.500000
4    288.833333
6     59.500000
7     70.166667
Name: MeAJT, dtype: float64
1300.6666666666667
0    43.166667
1    30.666667
3     0.000000
4     0.000000
6     0.333333
7     4.833333
Name: MADT, dtype: float64
78.99999999999999
sheet number is 1
0     71.666667
1     74.800000
3    152.000000
4    147.666667
Name: MeAJT, dtype: float64
446.1333333333333
0    27.000000
1    18.800000
3     9.666667
4     8.000000
Name: MADT, dtype: float64
63.46666666666666
W8.xlsx
sheet number is 0
0    166.476190
1    150.777778
3     99.904762
4     80.941176
6     34.571429
7     35.352941
Name: MeAJT, dtype: float64
568.0242763772176
0    89.904762
1    51.833333
3    10.571429
4    11.294118
6     1.190476
7     2.588235
Name: MADT, dtype: float64
167.3823529411765
sheet number is 1
0    187.333333
1    175.500000
3    108.714286
4    105.187500
6     68.227273
7    152.050000
Name: MeAJT, dtype: float64
797.0123917748917
0    31.809524
1    31.687500
3     0.000000
4     0.500000
6    14.409091
7    17.650000
Name: MADT, dtype: float64
96.05611471861471
W9.xlsx
sheet number is 0
0    170.888889
1    105.888889
3    202.000000
4    197.888889
6    284.666667
7    319.900000
Name: MeAJT, dtype: float64
1281.2333333333331
0    18.444444
1     5.444444
3    15.111111
4    14.444444
6     2.666667
7     6.500000
Name: MADT, dtype: float64
62.61111111111111
sheet number is 1
0    327.500
1    210.600
3     32.125
4     35.000
Name: MeAJT, dtype: float64
605.225
0     3.75
1    15.90
3     0.75
4     0.90
Name: MADT, dtype: float64
21.299999999999997
W10.xlsx
sheet number is 0
0    203
2    169
Name: MeAJT, dtype: int64
372
0    20
2     0
Name: MADT, dtype: int64
20
sheet number is 1
7 December 2019
121.xlsx
sheet number is 0
0     92.000000
2    130.058824
4    165.764706
Name: MeAJT, dtype: float64
387.8235294117647
0    37.470588
2    67.058824
4    18.882353
Name: MADT, dtype: float64
123.41176470588235
sheet number is 1
0    159.000000
2    144.941176
4     84.058824
Name: MeAJT, dtype: float64
388.0
0    50.705882
2    17.470588
4     4.058824
Name: MADT, dtype: float64
72.23529411764706
191.xlsx
sheet number is 0
0     93.722222
2    108.888889
4    201.333333
Name: MeAJT, dtype: float64
403.94444444444446
0    19.722222
2    34.777778
4    26.722222
Name: MADT, dtype: float64
81.22222222222223
sheet number is 1
0    165.777778
2    134.055556
4     89.833333
Name: MeAJT, dtype: float64
389.66666666666663
0    38.722222
2    36.888889
4     9.388889
Name: MADT, dtype: float64
85.0
192.xlsx
sheet number is 0
0     63.833333
2    172.944444
4     81.722222
Name: MeAJT, dtype: float64
318.5
0    25.333333
2     9.722222
4     2.166667
Name: MADT, dtype: float64
37.22222222222222
sheet number is 1
0    117.111111
2    137.777778
4     59.388889
Name: MeAJT, dtype: float64
314.27777777777777
0    14.166667
2    14.444444
4     0.000000
Name: MADT, dtype: float64
28.61111111111111
231.xlsx
sheet number is 0
0    105.166667
2    162.833333
4     88.583333
Name: MeAJT, dtype: float64
356.5833333333333
0    23.000000
2    11.833333
4     2.833333
Name: MADT, dtype: float64
37.66666666666667
sheet number is 1
0     99.000000
2    138.416667
4    126.833333
Name: MeAJT, dtype: float64
364.25
0    16.416667
2    12.750000
4     0.000000
Name: MADT, dtype: float64
29.166666666666668
307.xlsx
sheet number is 0
0    106.882353
2    146.529412
4    172.000000
Name: MeAJT, dtype: float64
425.4117647058823
0    16.235294
2    53.058824
4    14.705882
Name: MADT, dtype: float64
84.0
sheet number is 1
0    156.0625
2    151.2500
4     85.0000
Name: MeAJT, dtype: float64
392.3125
0    48.5625
2    12.5000
4     2.6250
Name: MADT, dtype: float64
63.6875
313.xlsx
sheet number is 0
0    120.555556
2    116.111111
4    179.666667
Name: MeAJT, dtype: float64
416.33333333333337
0    17.777778
2    41.555556
4    11.444444
Name: MADT, dtype: float64
70.77777777777779
sheet number is 1
0    159.888889
2    134.444444
4     87.555556
Name: MeAJT, dtype: float64
381.8888888888889
0    53.000000
2    14.555556
4     2.777778
Name: MADT, dtype: float64
70.33333333333333
317.xlsx
sheet number is 0

0     92.000000
2    158.444444
4     65.000000
Name: MeAJT, dtype: float64
315.44444444444446
0    22
2    13
4     0
Name: MADT, dtype: int64
35
sheet number is 1
0     70.444444
2    155.555556
4     79.777778
Name: MeAJT, dtype: float64
305.77777777777777
0    34.777778
2    12.222222
4     4.555556
Name: MADT, dtype: float64
51.55555555555556
329.xlsx
sheet number is 0
0     48.958333
2    262.000000
4     72.708333
Name: MeAJT, dtype: float64
383.66666666666663
0    32.583333
2     0.000000
4    18.958333
Name: MADT, dtype: float64
51.54166666666667
sheet number is 1
0    96.136364
2    57.227273
Name: MeAJT, dtype: float64
153.36363636363637
0    24.181818
2     0.000000
Name: MADT, dtype: float64
24.181818181818183
377.xlsx
sheet number is 0
0     75.0
2    167.5
Name: MeAJT, dtype: float64
242.5
0    56.0
2    11.5
Name: MADT, dtype: float64
67.5
sheet number is 1
0     99.500000
2    287.500000
4     62.333333
Name: MeAJT, dtype: float64
449.3333333333333
0    52.833333
2     0.000000
4     6.333333
Name: MADT, dtype: float64
59.16666666666667
W8.xlsx
sheet number is 0
0    131.652174
2     92.217391
4     66.608696
Name: MeAJT, dtype: float64
290.47826086956525
0    41.478261
2     0.043478
4    13.173913
Name: MADT, dtype: float64
54.69565217391305
sheet number is 1
0    99.863636
2    77.181818
4    32.727273
Name: MeAJT, dtype: float64
209.77272727272728
0    74.272727
2     8.636364
4     1.454545
Name: MADT, dtype: float64
84.36363636363636
W9.xlsx
sheet number is 0
0    142.583333
2    174.333333
4    300.416667
Name: MeAJT, dtype: float64
617.3333333333334
0    12.166667
2    23.083333
4     0.000000
Name: MADT, dtype: float64
35.25
sheet number is 1
0    189.416667
2     29.666667
Name: MeAJT, dtype: float64
219.08333333333331
0    5.583333
2    0.916667
Name: MADT, dtype: float64
6.5
W10.xlsx
sheet number is 0
0    283.333333
2    146.666667
Name: MeAJT, dtype: float64
430.0
0    20.333333
2     0.000000
Name: MADT, dtype: float64
20.333333333333332
sheet number is 1
0    204.666667
2     74.000000
Name: MeAJT, dtype: float64
278.66666666666663
0    20.333333
2     0.000000
Name: MADT, dtype: float64
20.333333333333332
7 March 2020
121.xlsx
sheet number is 0
0     74.2500
2    108.9375
4    148.4375
Name: MeAJT, dtype: float64
331.625
0    25.9375
2    62.0000
4    19.7500
Name: MADT, dtype: float64
107.6875
sheet number is 1
0    110.647059
2     97.000000
4     83.352941
Name: MeAJT, dtype: float64
291.0
0    38.176471
2    17.470588
4     7.588235
Name: MADT, dtype: float64
63.23529411764706
191.xlsx
sheet number is 0
0     81.388889
2    105.055556
4    175.277778
Name: MeAJT, dtype: float64
361.72222222222223
0    19.333333
2    26.000000
4    18.500000
Name: MADT, dtype: float64
63.83333333333333
sheet number is 1
0    117.555556
2     81.500000
4     87.000000
Name: MeAJT, dtype: float64
286.05555555555554
0    31.111111
2    17.111111
4     4.333333
Name: MADT, dtype: float64
52.55555555555556
192.xlsx
sheet number is 0
0     40.944444
2    107.722222
4     94.666667
Name: MeAJT, dtype: float64
243.33333333333337
0    25.222222
2     6.277778
4     2.000000
Name: MADT, dtype: float64
33.5
sheet number is 1
0    115.833333
2    132.500000
4     54.222222
Name: MeAJT, dtype: float64
302.55555555555554
0    10.888889
2    14.111111
4     0.000000
Name: MADT, dtype: float64
25.0
231.xlsx
sheet number is 0
0     60.750000
2     98.000000
4    112.166667
Name: MeAJT, dtype: float64
270.9166666666667
0    24.25
2     8.50
4     4.50
Name: MADT, dtype: float64
37.25
sheet number is 1
0     78.000000
2    123.083333
4    117.333333
Name: MeAJT, dtype: float64
318.41666666666663
0    14.25
2    14.25
4     0.00
Name: MADT, dtype: float64
28.5
307.xlsx
sheet number is 0
0     85.588235
2    118.705882
4    179.000000
Name: MeAJT, dtype: float64
383.29411764705884
0    18.058824
2    57.294118
4    14.235294
Name: MADT, dtype: float64
89.58823529411765
sheet number is 1
0    108.411765
2    104.705882
4     84.470588
Name: MeAJT, dtype: float64
297.5882352941177
0    32.176471
2    10.882353
4     1.647059
Name: MADT, dtype: float64
44.70588235294118
313.xlsx
sheet number is 0
0     81.666667
2    122.555556
4    175.444444
Name: MeAJT, dtype: float64
379.6666666666667
0    18.111111
2    38.333333
4    13.444444
Name: MADT, dtype: float64
69.88888888888889
sheet number is 1
0    117.111111
2     91.555556
4     87.111111
Name: MeAJT, dtype: float64
295.7777777777778
0    31.333333
2    23.222222
4     1.222222
Name: MADT, dtype: float64
55.77777777777778
317.xlsx
sheet number is 0
0     78.444444
2    131.777778
4     60.222222
Name: MeAJT, dtype: float64
270.44444444444446
0    16.666667
2    10.666667
4     0.000000
Name: MADT, dtype: float64
27.333333333333336
sheet number is 1
0     43.666667
2    103.000000
4     82.777778
Name: MeAJT, dtype: float64
229.44444444444443
0    31.444444
2    18.444444
4     1.666667
Name: MADT, dtype: float64
51.55555555555555
329.xlsx
sheet number is 0
0     25.857143
2    165.047619
4     63.809524
Name: MeAJT, dtype: float64
254.71428571428572
0    28.857143
2    13.761905
4     7.000000
Name: MADT, dtype: float64
49.61904761904762
sheet number is 1
0    79.85
2    54.95
Name: MeAJT, dtype: float64
134.8
0    27.65
2     0.00
Name: MADT, dtype: float64
27.65
377.xlsx
sheet number is 0
0     46.0
2    194.4
Name: MeAJT, dtype: float64
240.4
0    29.333333
2     0.600000
Name: MADT, dtype: float64
29.933333333333334
sheet number is 1
0    100.4
2    135.2
4     61.4
Name: MeAJT, dtype: float64
297.0
0    44.6
2     1.8
4     0.8
Name: MADT, dtype: float64
47.199999999999996
W8.xlsx
sheet number is 0
0    54.173913
2    79.043478
4    68.956522
Name: MeAJT, dtype: float64
202.17391304347825
0    21.130435
2    16.173913
4     6.304348
Name: MADT, dtype: float64
43.60869565217391
sheet number is 1
0    68.181818
2    74.681818
4    32.636364
Name: MeAJT, dtype: float64
175.5
0    37.863636
2     5.818182
4     1.181818
Name: MADT, dtype: float64
44.86363636363637
W9.xlsx
sheet number is 0
0     51.800000
2    145.600000
4    302.363636
Name: MeAJT, dtype: float64
499.76363636363635
0     7.000000
2    19.500000
4     0.727273
Name: MADT, dtype: float64
27.227272727272727
sheet number is 1
0    131.2
2     29.4
Name: MeAJT, dtype: float64
160.6
0    5.3
2    0.8
Name: MADT, dtype: float64
6.1
W10.xlsx
sheet number is 0
0    219
2    154
Name: MeAJT, dtype: int64
373
0    21
2     0
Name: MADT, dtype: int64
21
sheet number is 1
0    114.333333
2     67.333333
Name: MeAJT, dtype: float64
181.66666666666666
0    24.666667
2     0.000000
Name: MADT, dtype: float64
24.666666666666668
13 February 2020
121.xlsx
sheet number is 0
0    120.562500
1     90.058824
3    119.250000
4    127.470588
6    195.187500
7    187.235294
Name: MeAJT, dtype: float64
839.7647058823529
0    33.750000
1    27.235294
3    23.875000
4    37.470588
6    19.812500
7    21.764706
Name: MADT, dtype: float64
163.9080882352941
sheet number is 1
0    100.333333
1    118.937500
3    115.800000
4    161.187500
6     84.933333
7    144.312500
Name: MeAJT, dtype: float64
725.5041666666666
0    30.133333
1    30.312500
3    25.000000
4    31.250000
6     6.933333
7     7.937500
Name: MADT, dtype: float64
131.56666666666666
191.xlsx
sheet number is 0
0    108.222222
1    103.888889
3    104.888889
4    114.388889
6    177.222222
7    226.444444
Name: MeAJT, dtype: float64
835.0555555555555
0    23.055556
1    21.055556
3    24.444444
4    31.500000
6    22.222222
7    18.666667
Name: MADT, dtype: float64
140.94444444444443
sheet number is 1
0    105.214286
1    126.888889
3     96.785714
4    167.555556
6     91.500000
7    130.222222
Name: MeAJT, dtype: float64
718.1666666666665
0    30.071429
1    21.944444
3    18.500000
4    16.833333
6     5.714286
7     7.111111
Name: MADT, dtype: float64
100.17460317460316
192.xlsx
sheet number is 0
0     33.470588
1     46.312500
3    106.000000
4    175.437500
6     99.666667
7    132.250000
Name: MeAJT, dtype: float64
593.1372549019609
0     6.705882
1    25.312500
3     6.176471
4    20.562500
6     0.666667
7     1.875000
Name: MADT, dtype: float64
61.299019607843135
sheet number is 1
0    138.833333
1    152.421053
3    133.666667
4    119.388889
6     51.000000
7     68.333333
Name: MeAJT, dtype: float64
663.6432748538012
0    19.611111
1     5.368421
3     6.500000
4     3.888889
6     0.000000
7     0.000000
Name: MADT, dtype: float64
35.368421052631575
231.xlsx
sheet number is 0
0     52.166667
1     63.545455
3    105.583333
4    161.090909
6     93.666667
7    139.181818
Name: MeAJT, dtype: float64
615.2348484848485
0     5.500000
1    19.545455
3     9.416667
4    14.181818
6     4.333333
7     6.363636
Name: MADT, dtype: float64
59.34090909090909
sheet number is 1
0    110.692308
1    104.583333
3    145.384615
4    131.583333
6    117.076923
7    141.000000
Name: MeAJT, dtype: float64
750.3205128205128
0    13.230769
1     5.916667
3     7.923077
4     2.666667
6     0.000000
7     0.000000
Name: MADT, dtype: float64
29.73717948717949
307.xlsx
sheet number is 0
0    118.600000
1    101.733333
3    132.733333
4    116.000000
6    177.647059
7    179.333333
Name: MeAJT, dtype: float64
826.0470588235294
0    24.933333
1    24.933333
3    33.866667
4    35.562500
6    20.941176
7    14.133333
Name: MADT, dtype: float64
154.3703431372549
sheet number is 1
0     90.294118
1    120.750000
3    104.750000
4    166.625000
6     94.937500
7    156.187500
Name: MeAJT, dtype: float64
733.5441176470588
0    22.117647
1    29.312500
3    18.125000
4    31.187500
6     3.562500
7     5.000000
Name: MADT, dtype: float64
109.30514705882354
313.xlsx
sheet number is 0
0    107.3
1    106.0
3    118.4
4    121.4
6    188.9
7    186.6
Name: MeAJT, dtype: float64
828.6
0    18.8
1    15.0
3    20.8
4    22.7
6    10.0
7    14.7
Name: MADT, dtype: float64
102.0
sheet number is 1

0    194.500000
1    197.666667
3    164.600000
4    342.777778
6    184.300000
7    320.222222
Name: MeAJT, dtype: float64
1404.0666666666666
0    36.300000
1    77.777778
3    18.100000
4    31.222222
6     1.700000
7    11.555556
Name: MADT, dtype: float64
176.65555555555554
317.xlsx
sheet number is 0
0    114.166667
1     90.857143
3    153.333333
4    131.571429
6     75.833333
7     76.142857
Name: MeAJT, dtype: float64
641.9047619047619
0    21.666667
1    15.142857
3     7.333333
4     9.000000
6     0.000000
7     0.000000
Name: MADT, dtype: float64
53.142857142857146
sheet number is 1
0     30.833333
1     43.250000
3     96.200000
4    175.625000
6     83.000000
7     95.250000
Name: MeAJT, dtype: float64
524.1583333333333
0     8.166667
1    34.250000
3    14.400000
4    23.250000
6     8.800000
7     3.750000
Name: MADT, dtype: float64
92.61666666666666
329.xlsx
sheet number is 0
0     24.590909
1     31.520000
3    151.727273
4    178.120000
6     73.217391
7     70.640000
Name: MeAJT, dtype: float64
529.8155731225296
0    11.818182
1    25.360000
3    25.909091
4    22.720000
6     6.956522
7    12.480000
Name: MADT, dtype: float64
105.24379446640317
sheet number is 1
0    77.428571
1    87.560000
3    60.952381
4    83.760000
Name: MeAJT, dtype: float64
309.7009523809524
0    14.00
1    14.36
3     0.00
4     0.00
Name: MADT, dtype: float64
28.36
377.xlsx
sheet number is 0
0     48.666667
1     49.166667
3    179.833333
4    191.666667
Name: MeAJT, dtype: float64
469.33333333333337
0    35.500000
1    23.500000
3    11.333333
4     8.500000
Name: MADT, dtype: float64
78.83333333333333
sheet number is 1
0     84.333333
1    103.166667
3    161.166667
4    173.000000
6     82.333333
7     87.666667
Name: MeAJT, dtype: float64
691.6666666666666
0    17.166667
1    37.000000
3     7.000000
4     3.500000
6     1.833333
7     5.833333
Name: MADT, dtype: float64
72.33333333333333
W8.xlsx
sheet number is 0
0    79.086957
1    96.608696
3    75.391304
4    94.913043
6    79.739130
7    80.347826
Name: MeAJT, dtype: float64
506.0869565217391
0    24.913043
1    21.521739
3    13.434783
4    17.826087
6     5.782609
7    11.086957
Name: MADT, dtype: float64
94.56521739130434
sheet number is 1
0    93.869565
1    97.608696
3    92.043478
4    88.956522
6    34.565217
7    33.913043
Name: MeAJT, dtype: float64
440.95652173913044
0    39.565217
1    38.000000
3     9.043478
4     7.130435
6     1.130435
7     1.260870
Name: MADT, dtype: float64
96.13043478260869
W9.xlsx
sheet number is 0
0     75.636364
1     82.166667
3    145.636364
4    156.500000
6    474.818182
7    369.000000
Name: MeAJT, dtype: float64
1303.7575757575758
0    13.363636
1     6.416667
3    18.090909
4    15.000000
6     1.000000
7     1.250000
Name: MADT, dtype: float64
55.121212121212125
sheet number is 1
0    124.500000
1    164.230769
3     30.166667
4     31.769231
Name: MeAJT, dtype: float64
350.6666666666667
0    6.916667
1    7.923077
3    0.333333
4    0.076923
Name: MADT, dtype: float64
15.250000000000002
W10.xlsx
sheet number is 0
0    313
2     80
Name: MeAJT, dtype: int64
393
0    13
2     0
Name: MADT, dtype: int64
13
sheet number is 1